# ============================
# Oracle Cloud Infrastructure
# ============================

# Object Storage
OCI_NAMESPACE=seu_namespace
OCI_BUCKET_RAW=ai-dp-raw
OCI_BUCKET_PROCESSED=ai-dp-processed

# Autonomous Database
ADB_JDBC_URL=jdbc:oracle:thin:@<host>:1522/<service_name>
ADB_USER=AI_DP_USER
ADB_PASSWORD=CHANGE_ME

# OCI Data Flow
DATAFLOW_APPLICATION_NAME=ai-dp-churn-etl
DATAFLOW_COMPARTMENT_OCID=ocid1.compartment.oc1..<id>

# OCI Data Science
OCI_DS_PROJECT_OCID=ocid1.datascienceproject.oc1..<id>
OCI_DS_MODEL_NAME=churn-model

# ============================
# Local Paths
# ============================

LOCAL_RAW_DATA=data-generator/output/clientes.csv
LOCAL_LAKE_PATH=lake/clientes_churn_parquet
LOCAL_MODEL_PATH=ml/model.pkl

# ============================
# Runtime
# ============================

PYTHON_VERSION=3.11
SPARK_VERSION=3.5.1

